In [1]:
import pandas as pd
import numpy as np
import acessos as ac

In [2]:
query = """

select * from 
cx_curated_zone.hms
where mes_referencia = '202309' 


"""

df = ac.df_athena('flavia-costa', query)

:

In [ ]:
len(df)

50000

In [10]:
lista_vars = ['engajamento',         
'satisfacao',          
'suporte',             
'incidente',           
'hms',                 
'produto_credito_cobranca',
'produto_cartao',      
'produto_conta',       
'produto_credito_pessoal',
'produto_geral',       
'produto_marketing',   
'produto_tecnologia',  
'produto_marketplace', 
'jornada_cartao_fatura',
'jornada_geral_fraude',
'jornada_cartao_nrc',  
'jornada_conta_pix',   
'jornada_cartao_logistica',
'jornada_credito_cobranca_limite',
'jornada_credito_cobranca_outros',
'jornada_cartao_outros',
'jornada_conta_outros',
'jornada_geral']

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
for i in lista_vars:
    plt.figure(figsize=(10,10))
    sns.histplot(data = df, x = i, color = "yellow")

        LTV
0  5.985536
1  2.000000
2 -6.959775
3 -2.807184
4 -7.231279

In [ ]:
for i in lista_vars:
    print(f'media de {i}')
    print(df[i].mean())
    print('-----------------------')
    print(f'mediana de {i}')
    print(df[i].median())

In [24]:
df['Classe_LTV'] = np.where(

In [25]:
df['Classe_LTV'].value_counts(normalize=True)

1. Rentabilidade Negativa          0.36032
2. Rentabilidade Zero              0.25134
4. Muito Rentável                  0.20220
3. Rentável                        0.09980
5. Altamente Rentável              0.04780
0. Rentabilidade Muito Negativa    0.03854
Name: Classe_LTV, dtype: float64

Se um cliente for das classes 0, 1 e 2 mas tiver até um ano de casa ou 6 meses ele ainda não atingiu o break even