In [2]:
!pip install awswrangler

Collecting awswrangler
  Using cached awswrangler-3.4.2-py3-none-any.whl.metadata (23 kB)
Requirement already satisfied: boto3<2.0.0,>=1.20.32 in /opt/conda/lib/python3.10/site-packages (from awswrangler) (1.33.9)
Requirement already satisfied: botocore<2.0.0,>=1.23.32 in /opt/conda/lib/python3.10/site-packages (from awswrangler) (1.33.9)
Requirement already satisfied: numpy<2.0,>=1.18 in /opt/conda/lib/python3.10/site-packages (from awswrangler) (1.26.2)
Requirement already satisfied: packaging<24.0,>=21.1 in /opt/conda/lib/python3.10/site-packages (from awswrangler) (21.3)
Requirement already satisfied: pandas<3.0.0,>=1.2.0 in /opt/conda/lib/python3.10/site-packages (from awswrangler) (2.1.3)
Requirement already satisfied: pyarrow>=7.0.0 in /opt/conda/lib/python3.10/site-packages (from awswrangler) (14.0.1)
Collecting typing-extensions<5.0.0,>=4.4.0 (from awswrangler)
  Using cached typing_extensions-4.9.0-py3-none-any.whl.metadata (3.0 kB)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /opt/conda/lib/python3.10/site-packages (from boto3<2.0.0,>=1.20.32->awswrangler) (0.10.0)
Requirement already satisfied: s3transfer<0.9.0,>=0.8.2 in /opt/conda/lib/python3.10/site-packages (from boto3<2.0.0,>=1.20.32->awswrangler) (0.8.2)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/lib/python3.10/site-packages (from botocore<2.0.0,>=1.23.32->awswrangler) (2.8.2)
Collecting urllib3<2.1,>=1.25.4 (from botocore<2.0.0,>=1.23.32->awswrangler)
  Using cached urllib3-2.0.7-py3-none-any.whl.metadata (6.6 kB)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/conda/lib/python3.10/site-packages (from packaging<24.0,>=21.1->awswrangler) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas<3.0.0,>=1.2.0->awswrangler) (2022.1)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.10/site-packages (from pandas<3.0.0,>=1.2.0->awswrangler) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<2.0.0,>=1.23.32->awswrangler) (1.16.0)
Using cached awswrangler-3.4.2-py3-none-any.whl (396 kB)
Using cached typing_extensions-4.9.0-py3-none-any.whl (32 kB)
Using cached urllib3-2.0.7-py3-none-any.whl (124 kB)
Installing collected packages: urllib3, typing-extensions, awswrangler
  Attempting uninstall: urllib3
    Found existing installation: urllib3 2.1.0
    Uninstalling urllib3-2.1.0:
      Successfully uninstalled urllib3-2.1.0
  Attempting uninstall: typing-extensions
    Found existing installation: typing_extensions 4.3.0
    Uninstalling typing_extensions-4.3.0:
      Successfully uninstalled typing_extensions-4.3.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
spyder 5.3.3 requires pyqt5<5.16, which is not installed.
spyder 5.3.3 requires pyqtwebengine<5.16, which is not installed.
distributed 2022.7.0 requires tornado<6.2,>=6.0.3, but you have tornado 6.4 which is incompatible.
panel 0.13.1 requires bokeh<2.5.0,>=2.4.0, but you have bokeh 3.3.2 which is incompatible.
sagemaker 2.199.0 requires urllib3<1.27, but you have urllib3 2.0.7 which is incompatible.
spyder 5.3.3 requires ipython<8.0.0,>=7.31.1, but you have ipython 8.18.1 which is incompatible.
spyder 5.3.3 requires pylint<3.0,>=2.5.0, but you have pylint 3.0.2 which is incompatible.
Successfully installed awswrangler-3.4.2 typing-extensions-4.9.0 urllib3-2.0.7
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: pip install --upgrade pip

In [3]:
import pandas as pd
import awswrangler as wr
import numpy as np

In [4]:
df = pd.read_parquet("2023-11-14-df-estimacao.parquet.gzip")
df.shape

(259641, 146)

In [5]:
df.head(5)

,id_customer,ds_classif_savings,nr_purchases_online,nr_cdb,nr_bag,flag_mgm,ACADEMIAS,ACOUGUE,ADVOCACIA,APARELHOS_DIVERSOS,...,e_REPAROS,e_RESTAURANTES,e_SEGURO,e_SERVICOS,e_SUPRIMENTOS_PARA_CASA,e_TAXIS,e_TI,e_VAREJISTAS,e_VESTUARIO,e_VIAGEM
0,c82c56ee-8d03-4496-8780-da09cdeb435a,False,True,True,True,True,False,False,False,False,...,True,False,False,False,True,False,True,True,True,False
1,b2459cfa-daee-4c0f-a489-be40733b063b,False,True,False,False,False,False,False,False,False,...,True,False,False,True,False,False,False,True,True,False
2,682c7c5c-dd08-47ba-a46f-f1c360662ed0,False,True,True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,2b743070-8c64-46ef-a29d-ab5615308dbe,True,True,True,True,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,63ddbc3f-a917-4a10-8ecc-3872f53f5c01,False,True,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,True,True,False

In [6]:
# Contagem da recomendação estimada
col_est = df.filter(like='e_').columns
df['qtd_cat_est'] = df[col_est].sum(axis = 1)

# Contagem real do uso 
col_real = col_est.str.replace("e_","")
df['qtd_cat_real'] = df[col_real].sum(axis = 1)

In [7]:
df.groupby(df['qtd_cat_est']).size()

qtd_cat_est
0     49563
1      5629
2     11076
3      8767
4     13247
      ...
59      337
60      148
61       75
62       55
63        8
Length: 64, dtype: int64

In [8]:
df.groupby(df['qtd_cat_real']).size()

qtd_cat_real
0     17468
1     17946
2     13583
3      4853
4      5817
5      6970
6      8109
7      9020
8      9875
9     10244
10    10835
11    11031
12    11205
13    11410
14    11522
15    11521
16    11121
17    10484
18     9996
19     9387
20     8537
21     7638
22     6589
23     5534
24     4717
25     3864
26     2902
27     2261
28     1639
29     1214
30      833
31      537
32      367
33      231
34      158
35       92
36       47
37       29
38       23
39       14
40        5
41        5
42        3
43        2
45        1
46        1
56        1
dtype: int64

In [9]:
df.columns

Index(['id_customer', 'ds_classif_savings', 'nr_purchases_online', 'nr_cdb',
       'nr_bag', 'flag_mgm', 'ACADEMIAS', 'ACOUGUE', 'ADVOCACIA',
       'APARELHOS_DIVERSOS',
       ...
       'e_SEGURO', 'e_SERVICOS', 'e_SUPRIMENTOS_PARA_CASA', 'e_TAXIS', 'e_TI',
       'e_VAREJISTAS', 'e_VESTUARIO', 'e_VIAGEM', 'qtd_cat_est',
       'qtd_cat_real'],
      dtype='object', length=148)

In [10]:
def query(query, username):
    """Retorna df da consulta ao banco de dados"""
    
    from datetime import datetime
    dt = datetime.today().strftime('%Y-%m-%d-%H-%M-%S-%f')
    path = f"s3://will-sdx-ml-platform-sagemaker-transient/{username}/{dt}"

    df = wr.athena.read_sql_query(query, 
    database=None, 
    ctas_approach=False, 
    s3_output=path)

    return df

In [11]:
query_string = '''

with eventos as (
	select 
	id_customer
	, count(distinct dt_event) as nr_acessos
	from customer_curated_zone.ca_analitico_frontend
	where lower(ds_event_name) <> 'login_knownuser'
	and lower(ds_event_name) <> 'insert_textfield_password_loginknownuser'
	and lower(ds_event_name) <> 'home'
	and lower(ds_event_name) <> 'click_box_tracking_card_home'
	and cast(dt_event as DATE) >= date('2023-01-01')
	and cast(dt_event as DATE) < date('2023-11-14')
	group by 1
)
, rentabilidade_conta as (
select 
id_customer
, sum(vl_rentabilidade_min) as rentabilidade_conta
from customer_curated_zone.ca_model_rent_conta_simples
where ds_yearmonth_rent_calc = '2023-10'
group by 1
)
, rentabilidade_credito as (
select 
id_customer
, sum(ltv) as rentabilidade_credito
, sum(rec_servicos + rec_itr + rec_recarga) as receitas
from public.rentabilidade_cartoes_isabelle_dias
where mesref = '2023-10'
group by 1
)
select
c.id_customer
, nr_acessos
, rentabilidade_credito
, receitas
, rentabilidade_conta
from rentabilidade_credito c
left join eventos e on (e.id_customer = c.id_customer)
left join rentabilidade_conta co on (co.id_customer = c.id_customer)

'''

In [12]:
df_2 = query(query_string, 'flavia-costa')

In [14]:
df_2.shape

(4269312, 5)

In [18]:
df.dtypes

id_customer            string[python]
ds_classif_savings               bool
nr_purchases_online              bool
nr_cdb                           bool
nr_bag                           bool
                            ...
e_VAREJISTAS                     bool
e_VESTUARIO                      bool
e_VIAGEM                         bool
qtd_cat_est                     int64
qtd_cat_real                    int64
Length: 148, dtype: object

In [19]:
df_2.dtypes

id_customer              string[python]
nr_acessos                        Int64
rentabilidade_credito           float64
receitas                        float64
rentabilidade_conta             float64
dtype: object

In [20]:
df_3 = df.join(df_2.set_index('id_customer'), on = 'id_customer', how = 'left')

In [21]:
df_3.head()

,id_customer,ds_classif_savings,nr_purchases_online,nr_cdb,nr_bag,flag_mgm,ACADEMIAS,ACOUGUE,ADVOCACIA,APARELHOS_DIVERSOS,...,e_TI,e_VAREJISTAS,e_VESTUARIO,e_VIAGEM,qtd_cat_est,qtd_cat_real,nr_acessos,rentabilidade_credito,receitas,rentabilidade_conta
0,c82c56ee-8d03-4496-8780-da09cdeb435a,False,True,True,True,True,False,False,False,False,...,True,True,True,False,34,19,187,3.635360,35.46120,NaN
1,b2459cfa-daee-4c0f-a489-be40733b063b,False,True,False,False,False,False,False,False,False,...,False,True,True,False,24,11,63,3.724320,25.33440,NaN
2,682c7c5c-dd08-47ba-a46f-f1c360662ed0,False,True,True,True,False,False,False,False,False,...,False,False,False,False,6,6,26,-2.876000,5.65500,NaN
3,2b743070-8c64-46ef-a29d-ab5615308dbe,True,True,True,True,True,False,False,False,False,...,False,False,False,False,14,14,115,20.058960,6.54820,NaN
4,63ddbc3f-a917-4a10-8ecc-3872f53f5c01,False,True,False,False,True,False,False,False,False,...,False,True,True,False,13,16,17,0.085552,15.91259,NaN

In [22]:
df_3['nr_acessos'].sum()

19833694

In [23]:
df_agg = df_3.groupby('qtd_cat_real') \
.agg({'id_customer':['count'], 'nr_acessos':['sum'], \
      'rentabilidade_credito':['sum'], \
      'receitas':['sum'], \
     'rentabilidade_conta':['sum']
     })

In [24]:
df_agg

,id_customer,nr_acessos,rentabilidade_credito,receitas,rentabilidade_conta
,count,sum,sum,sum,sum
qtd_cat_real,,,,,
0,17468,110420,-2.000000,0.00000,-298646.067680
1,17946,139733,-259.540496,199.88443,-15719.257890
2,13583,142757,20458.874047,7595.14075,-38594.644908
3,4853,118764,15862.039800,22494.24522,-13254.419168
4,5817,191425,21715.629055,35352.50321,-12739.073591
5,6970,301860,52539.500618,46573.08506,-10059.871883
6,8109,410771,71172.929215,64546.70378,-4117.157691
7,9020,504846,73431.665281,82151.64423,792.525210
8,9875,602148,91143.071524,97381.17908,3240.214096
9,10244,679850,101148.834120,108534.89793,-266.386639
10,10835,802179,117873.890122,121510.49857,62.735303
11,11031,864229,140838.630626,134006.62387,-125.875911
12,11205,943311,147110.702373,141320.75243,-23.465522
13,11410,1008298,164128.358718,154461.16893,-32.865773
14,11522,1079344,164536.575934,158399.25326,-88.791135
15,11521,1133017,197477.745918,162409.52496,-120.493200
16,11121,1149679,195063.840013,167207.89650,-140.063978
17,10484,1129401,205095.049948,165549.44484,20.156677
18,9996,1134668,208270.764151,164645.62298,-60.845777
19,9387,1097400,193021.081961,167292.94607,-19.524548
20,8537,1027772,182025.404079,155720.48655,-27.054456
21,7638,948249,166689.097010,148659.88941,-70.003990
22,6589,851247,167653.184525,132541.87666,-17.498690
23,5534,740217,155953.003127,120071.99822,0.000000
24,4717,642931,122483.211862,106603.81910,-30.448781
25,3864,539951,108909.665877,99510.60361,-31.349881
26,2902,414454,90667.153546,76315.93320,0.000000
27,2261,329781,80872.873870,62453.71948,58.376385
28,1639,242587,62470.203154,50834.62489,0.000000
29,1214,187654,41774.811419,40086.08729,0.000000
30,833,126934,36955.097144,30091.73771,0.000000
31,537,83152,26057.791192,20238.73949,0.000000
32,367,56777,14763.285410,15331.26997,0.000000
33,231,35201,12753.942800,10878.80725,0.000000
34,158,26261,8534.408992,7845.50364,0.000000
35,92,14052,4712.764480,5694.41785,0.000000
36,47,7017,1925.657232,3269.40444,0.000000
37,29,4926,4367.301280,1599.70510,0.000000
38,23,4189,1971.978752,1961.38784,0.000000
39,14,2645,522.773760,1205.23420,0.000000
40,5,947,275.967456,670.86127,0.000000
41,5,973,298.592592,942.22189,0.000000
42,3,794,98.306992,275.56989,0.000000
43,2,292,202.081488,148.96546,0.000000
45,1,183,297.141120,735.87790,0.000000
46,1,188,475.094048,292.44441,0.000000
56,1,220,1154.996624,1543.98233,0.000000

In [25]:
df_agg.to_csv('simulacao_recom.csv')