In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import pingouin as pg

## Arrumando o arquivo com clusters de 15

In [64]:
arquivos = [ 'gowers_15_attribute_freq', 'kmodes_15_attribute_freq', 'umap_kmeans_15_attribute_freq']

df = pd.DataFrame()

for i in arquivos:
    df_temp = pd.read_csv(i + ".csv")
    df = df.append(df_temp)

<ipython-input-64-7552caa9110f>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
<ipython-input-64-7552caa9110f>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
<ipython-input-64-7552caa9110f>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)

In [3]:
df.head()

,n_cluster,var_value,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,gowers_15,ds_city_size__grande,0.023752,0.021944,0.956153,0.173228,0.044883,0.060435,0.986033,0.041597,0.052192,0.065672,0.087569,0.936443,0.070249,0.109518,0.130790
1,gowers_15,ds_city_size__medio,0.093413,0.047900,0.043847,0.745932,0.183637,0.166801,0.013967,0.120588,0.843772,0.130490,0.834424,0.063557,0.162188,0.161697,0.132347
2,gowers_15,ds_city_size__pequeno,0.882834,0.930156,0.000000,0.080840,0.771480,0.772764,0.000000,0.837815,0.104036,0.803838,0.078007,0.000000,0.767562,0.728784,0.736863
3,gowers_15,ds_gender__FEMALE,1.000000,0.000000,1.000000,0.209449,0.956399,1.000000,0.000000,0.234454,0.186500,0.031557,0.826371,0.746284,0.928780,0.715023,0.000000
4,gowers_15,ds_gender__MALE,0.000000,1.000000,0.000000,0.790551,0.043601,0.000000,1.000000,0.765546,0.813500,0.968443,0.173629,0.253716,0.071220,0.284977,1.000000

## Analisando as distribuições pelo teste Kruskal Wallis e Correlações

In [54]:
for i in df['n_cluster'].unique():
    
    df_model = df[df['n_cluster'] == i]
    corr = df_model.corr(method='pearson')
    x = 0
    
    for column in corr.columns:
        
        corr_temp = corr[corr[column] != 1]
        corr_temp = corr_temp[corr_temp[column] > 0.65]
    x = x + len(corr_temp[column])
    
    df_model = df_model.drop(['n_cluster'], axis = 1).set_index('var_value').transpose()
    
    for j in df_model.columns:
        df_model[i] = (df_model[j] - df_model[j].mean()) / np.std(df_model[j])
    df_model = df_model.reset_index()
    df_temp = df_model.set_index('index').T
    print(i)
    kw = stats.kruskal(df_temp['0'], df_temp['2'], df_temp['3'], df_temp['4'], df_temp['5'], df_temp['6'], df_temp['7'], df_temp['8'], df_temp['9'], df_temp['10'], df_temp['11'], df_temp['12'], df_temp['10'], df_temp['11'], df_temp['12'],df_temp['13'],df_temp['14'])
    print(kw)
    if kw.pvalue <= 0.05:
        print("Hipótese de igualdade rejeitada. No mínimo uma média é diferente")
    else:
        print("Hipótese de igualdade não rejeitada. Todas as médias são similares")
    print("---")
    
    fr = stats.friedmanchisquare(df_temp['0'], df_temp['2'], df_temp['3'], df_temp['4'], df_temp['5'], df_temp['6'], df_temp['7'], df_temp['8'], df_temp['9'], df_temp['10'], df_temp['11'], df_temp['12'], df_temp['10'], df_temp['11'], df_temp['12'],df_temp['13'],df_temp['14'])
    print(fr)

    if fr.pvalue <= 0.05:
        print("Nem todas as medianas são diferentes")
    else:
        print("Não há evidência para afirmar que as medianas são iguais")

    print("---")
    print("O número de características com correlação alta entre clusters é:")
    print(x)
       
    print("______________________")

gowers_15
KruskalResult(statistic=17.59599705814234, pvalue=0.3480790782665576)
Hipótese de igualdade não rejeitada. Todas as médias são similares
---
FriedmanchisquareResult(statistic=52.52880688806828, pvalue=8.996611466990185e-06)
Nem todas as medianas são diferentes
---
O número de características com correlação alta entre clusters é:
7
---
coeficientes de variação das características tem mediana de:
nan
--
______________________
kmodes_15
KruskalResult(statistic=17.417620489514402, pvalue=0.3590831552858661)
Hipótese de igualdade não rejeitada. Todas as médias são similares
---
FriedmanchisquareResult(statistic=67.40585311982257, pvalue=2.8278744879479473e-08)
Nem todas as medianas são diferentes
---
O número de características com correlação alta entre clusters é:
4
---
coeficientes de variação das características tem mediana de:
nan
--
______________________
umap_kmeans_15
KruskalResult(statistic=34.37894195606655, pvalue=0.004828777740995092)
Hipótese de igualdade rejeitada. No mínimo uma média é diferente
---
FriedmanchisquareResult(statistic=99.81406278988283, pvalue=3.753362454561056e-14)
Nem todas as medianas são diferentes
---
O número de características com correlação alta entre clusters é:
6
---
coeficientes de variação das características tem mediana de:
nan
--
______________________

<ipython-input-54-35cd51a3d645>:41: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  cv = np.median(df_model.mean() / df_model.std())
<ipython-input-54-35cd51a3d645>:41: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  cv = np.median(df_model.mean() / df_model.std())
<ipython-input-54-35cd51a3d645>:41: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  cv = np.median(df_model.mean() / df_model.std())

In [53]:
for i in df['n_cluster'].unique():
    
    df_model = df[df['n_cluster'] == i]
    df_model = df_model.drop(['n_cluster'], axis = 1).set_index('var_value').transpose()
    print(i)
    cv = np.median(df_model.mean() / df_model.std())
    print(cv)
    print("--")

gowers_15
1.2704181038946627
--
kmodes_15
1.3290963435769871
--
umap_kmeans_15
1.2255962698666583
--

In [66]:
# perform Welch's ANOVA
df_model = df[df['n_cluster'] == 'umap_kmeans_15']
df_model = df_model.drop(['n_cluster'], axis = 1).set_index('var_value').transpose().reset_index()
df_melt = pd.melt(df_model, id_vars=['index'])
anova = pg.welch_anova(dv='value', between='index', data=df_melt)
anova

  Source  ddof1       ddof2             F  p-unc           np2
0  index     14  422.812031  1.227635e-30    1.0  8.760067e-34

## Arquivo com Clusters de 10

In [55]:
arquivos = ['gowers_10_attribute_freq', 'kmodes_10_attribute_freq', 'umap_kmeans_10_attribute_freq']

df_10 = pd.DataFrame()

for i in arquivos:
    df_temp = pd.read_csv(i + ".csv")
    df_10 = df_10.append(df_temp)

<ipython-input-55-f5e51ec174db>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_10 = df_10.append(df_temp)
<ipython-input-55-f5e51ec174db>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_10 = df_10.append(df_temp)
<ipython-input-55-f5e51ec174db>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_10 = df_10.append(df_temp)

## Testes clusters de 10

In [57]:
for i in df_10['n_cluster'].unique():
    
    df_model = df_10[df_10['n_cluster'] == i]
    df_model = df_model.drop(['n_cluster'], axis = 1).set_index('var_value').transpose()
    print(i)
    cv = np.median(df_model.mean() / df_model.std())
    print(cv)
    print("--")

gowers_10
1.9609292581477766
--
kmodes_10
1.7673111227811034
--
umap_kmeans_10
1.5534744193482206
--

In [6]:
for i in df_10['n_cluster'].unique():
    
    df_model = df_10[df_10['n_cluster'] == i]
    corr = df_model.corr(method='pearson')
    x = 0
    
    for column in corr.columns:
        
        corr_temp = corr[corr[column] != 1]
        corr_temp = corr_temp[corr_temp[column] > 0.65]
    x = x + len(corr_temp[column])
    
    df_model = df_model.drop(['n_cluster'], axis = 1).set_index('var_value').transpose()
    
    for j in df_model.columns:
        df_model[i] = (df_model[j] - df_model[j].mean()) / np.std(df_model[j])
    df_model = df_model.reset_index()
    df_temp = df_model.set_index('index').T
    print(i)
    kw = stats.kruskal(df_temp['0'], df_temp['2'], df_temp['3'], df_temp['4'], df_temp['5'], df_temp['6'], df_temp['7'], df_temp['8'], df_temp['9'])
    print(kw)
    if kw.pvalue <= 0.05:
        print("Hipótese de igualdade rejeitada. No mínimo uma média é diferente")
    else:
        print("Hipótese de igualdade não rejeitada. Todas as médias são similares")
    print("---")
    fr = stats.friedmanchisquare(df_temp['0'], df_temp['2'], df_temp['3'], df_temp['4'], df_temp['5'], df_temp['6'], df_temp['7'], df_temp['8'], df_temp['9'])
    print(fr)

    if fr.pvalue <= 0.05:
        print("Nem todas as medianas são diferentes")
    else:
        print("Não há evidência para afirmar que as medianas são iguais")

    print("---")
    print("O número de características com correlação alta entre clusters é:")
    print(x)
    print("______________________")

gowers_10
KruskalResult(statistic=3.2099642920913483, pvalue=0.9204983378408084)
Hipótese de igualdade não rejeitada. Todas as médias são similares
---
FriedmanchisquareResult(statistic=18.01610945603005, pvalue=0.021106035103807656)
Nem todas as medianas são diferentes
---
O número de características com correlação alta entre clusters é:
3
______________________
kmodes_10
KruskalResult(statistic=8.52025144698565, pvalue=0.3843663672953189)
Hipótese de igualdade não rejeitada. Todas as médias são similares
---
FriedmanchisquareResult(statistic=31.284645842498882, pvalue=0.00012502050629979556)
Nem todas as medianas são diferentes
---
O número de características com correlação alta entre clusters é:
3
______________________
umap_kmeans_10
KruskalResult(statistic=1.3713107917061418, pvalue=0.9946442279621398)
Hipótese de igualdade não rejeitada. Todas as médias são similares
---
FriedmanchisquareResult(statistic=19.11045338356013, pvalue=0.014279972965823454)
Nem todas as medianas são diferentes
---
O número de características com correlação alta entre clusters é:
4
______________________

## Testes com clusters de 7

In [58]:
arquivos = [ 'gowers_7_attribute_freq', 'kmodes_7_attribute_freq', 'umap_kmeans_7_attribute_freq']

df = pd.DataFrame()

for i in arquivos:
    df_temp = pd.read_csv(i + ".csv")
    df = df.append(df_temp)

<ipython-input-58-f9aad0f07f59>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
<ipython-input-58-f9aad0f07f59>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
<ipython-input-58-f9aad0f07f59>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)

In [59]:
for i in df['n_cluster'].unique():
    
    df_model = df[df['n_cluster'] == i]
    df_model = df_model.drop(['n_cluster'], axis = 1).set_index('var_value').transpose()
    print(i)
    cv = np.median(df_model.mean() / df_model.std())
    print(cv)
    print("--")

gowers_7
2.0651959176059425
--
kmodes_7
2.223986485447754
--
umap_kmeans_7
1.662369370713477
--

In [8]:
df.head()

,n_cluster,var_value,0,1,2,3,4,5,6
0,gowers_7,ds_city_size__grande,0.031195,0.024078,0.938287,0.136425,0.055485,0.125109,0.941999
1,gowers_7,ds_city_size__medio,0.176580,0.120834,0.061713,0.688073,0.217041,0.177201,0.058001
2,gowers_7,ds_city_size__pequeno,0.792224,0.855089,0.000000,0.175501,0.727474,0.697690,0.000000
3,gowers_7,ds_gender__FEMALE,1.000000,0.000000,1.000000,0.232416,0.790073,0.825850,0.000000
4,gowers_7,ds_gender__MALE,0.000000,1.000000,0.000000,0.767584,0.209927,0.174150,1.000000

In [9]:
for i in df['n_cluster'].unique():
    
    df_model = df[df['n_cluster'] == i]
    corr = df_model.corr(method='pearson')
    x = 0
    
    for column in corr.columns:
        
        corr_temp = corr[corr[column] != 1]
        corr_temp = corr_temp[corr_temp[column] > 0.65]
    x = x + len(corr_temp[column])
    
    df_model = df_model.drop(['n_cluster'], axis = 1).set_index('var_value').transpose()
    
    for j in df_model.columns:
        df_model[i] = (df_model[j] - df_model[j].mean()) / np.std(df_model[j])
    df_model = df_model.reset_index()
    df_temp = df_model.set_index('index').T
    print(i)
    kw = stats.kruskal(df_temp['0'], df_temp['2'], df_temp['3'], df_temp['4'], df_temp['5'], df_temp['6'])
    print(kw)
    if kw.pvalue <= 0.05:
        print("Hipótese de igualdade rejeitada. No mínimo uma média é diferente")
    else:
        print("Hipótese de igualdade não rejeitada. Todas as médias são similares")
    print("---")
    fr = stats.friedmanchisquare(df_temp['0'], df_temp['2'], df_temp['3'], df_temp['4'], df_temp['5'], df_temp['6'])
    print(fr)
    
    if fr.pvalue <= 0.05:
        print("Nem todas as medianas são diferentes")
    else:
        print("Não há evidência para afirmar que as medianas são iguais")

    print("---")
    print("O número de características com correlação alta entre clusters é:")
    print(x)
    print("______________________")

gowers_7
KruskalResult(statistic=2.6116493833860996, pvalue=0.7595945010433999)
Hipótese de igualdade não rejeitada. Todas as médias são similares
---
FriedmanchisquareResult(statistic=15.466918714555696, pvalue=0.008542911247125485)
Nem todas as medianas são diferentes
---
O número de características com correlação alta entre clusters é:
1
______________________
kmodes_7
KruskalResult(statistic=4.148871250226746, pvalue=0.5281874609086356)
Hipótese de igualdade não rejeitada. Todas as médias são similares
---
FriedmanchisquareResult(statistic=15.030086498683588, pvalue=0.010234553573856033)
Nem todas as medianas são diferentes
---
O número de características com correlação alta entre clusters é:
5
______________________
umap_kmeans_7
KruskalResult(statistic=2.9399216089223716, pvalue=0.7092478039896153)
Hipótese de igualdade não rejeitada. Todas as médias são similares
---
FriedmanchisquareResult(statistic=4.509458864936044, pvalue=0.4786188728150542)
Não há evidência para afirmar que as medianas são iguais
---
O número de características com correlação alta entre clusters é:
2
______________________

## Testes com clusters de 12

In [60]:
arquivos = [ 'gowers_12_attribute_freq', 'kmodes_12_attribute_freq', 'umap_kmeans_12_attribute_freq']

df = pd.DataFrame()

for i in arquivos:
    df_temp = pd.read_csv(i + ".csv")
    df = df.append(df_temp)

<ipython-input-60-48fd1343e835>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
<ipython-input-60-48fd1343e835>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
<ipython-input-60-48fd1343e835>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)

In [61]:
for i in df['n_cluster'].unique():
    
    df_model = df[df['n_cluster'] == i]
    df_model = df_model.drop(['n_cluster'], axis = 1).set_index('var_value').transpose()
    print(i)
    cv = np.median(df_model.mean() / df_model.std())
    print(cv)
    print("--")

gowers_12
1.6714149003619814
--
kmodes_12
1.7534895020433066
--
umap_kmeans_12
1.3424823202580691
--

In [11]:
df.head()

,n_cluster,var_value,0,1,2,3,4,5,6,7,8,9,10,11
0,gowers_12,ds_city_size__grande,0.023089,0.019587,0.986441,0.148728,0.060552,0.151313,0.966361,0.041185,0.064987,0.064794,0.193821,0.081633
1,gowers_12,ds_city_size__medio,0.038840,0.100109,0.013559,0.601901,0.116249,0.126095,0.033639,0.136922,0.838196,0.173783,0.639865,0.185106
2,gowers_12,ds_city_size__pequeno,0.938071,0.880305,0.000000,0.249371,0.823199,0.722592,0.000000,0.821893,0.096817,0.761423,0.166314,0.733262
3,gowers_12,ds_gender__FEMALE,1.000000,0.000000,1.000000,0.086665,1.000000,0.850088,0.000000,0.851879,0.821286,0.000000,0.788405,0.085929
4,gowers_12,ds_gender__MALE,0.000000,1.000000,0.000000,0.913335,0.000000,0.149912,1.000000,0.148121,0.178714,1.000000,0.211595,0.914071

In [12]:
for i in df['n_cluster'].unique():
    
    df_model = df[df['n_cluster'] == i]
    corr = df_model.corr(method='pearson')
    x = 0
    
    for column in corr.columns:
        
        corr_temp = corr[corr[column] != 1]
        corr_temp = corr_temp[corr_temp[column] > 0.65]
    x = x + len(corr_temp[column])
    
    df_model = df_model.drop(['n_cluster'], axis = 1).set_index('var_value').transpose()
    
    for j in df_model.columns:
        df_model[i] = (df_model[j] - df_model[j].mean()) / np.std(df_model[j])
    df_model = df_model.reset_index()
    df_temp = df_model.set_index('index').T
    print(i)
    kw = stats.kruskal(df_temp['0'], df_temp['2'], df_temp['3'], df_temp['4'], df_temp['5'], df_temp['6'], df_temp['7'], df_temp['8'], df_temp['9'], df_temp['10'], df_temp['11'])
    print(kw)
    
    if kw.pvalue <= 0.05:
        print("Hipótese de igualdade rejeitada. No mínimo uma média é diferente")
    else:
        print("Hipótese de igualdade não rejeitada. Todas as médias são similares")
    print("---")

    if fr.pvalue <= 0.05:
        print("Nem todas as medianas são diferentes")
    else:
        print("Não há evidência para afirmar que as medianas são iguais")

    print("---")
    print("O número de características com correlação alta entre clusters é:")
    print(x)
    print("______________________")

gowers_12
KruskalResult(statistic=5.389731114128233, pvalue=0.8636710028101093)
Hipótese de igualdade não rejeitada. Todas as médias são similares
---
Não há evidência para afirmar que as medianas são iguais
---
O número de características com correlação alta entre clusters é:
4
______________________
kmodes_12
KruskalResult(statistic=2.9656743589386827, pvalue=0.9822203446044216)
Hipótese de igualdade não rejeitada. Todas as médias são similares
---
Não há evidência para afirmar que as medianas são iguais
---
O número de características com correlação alta entre clusters é:
7
______________________
umap_kmeans_12
KruskalResult(statistic=1.263448664616054, pvalue=0.9995027105808599)
Hipótese de igualdade não rejeitada. Todas as médias são similares
---
Não há evidência para afirmar que as medianas são iguais
---
O número de características com correlação alta entre clusters é:
4
______________________

## Testes com clusters de 20

In [62]:
arquivos = [ 'gowers_20_attribute_freq', 'kmodes_20_attribute_freq', 'umap_kmeans_20_attribute_freq']

df = pd.DataFrame()

for i in arquivos:
    df_temp = pd.read_csv(i + ".csv")
    df = df.append(df_temp)

<ipython-input-62-0bf4dbfd948d>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
<ipython-input-62-0bf4dbfd948d>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
<ipython-input-62-0bf4dbfd948d>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)

In [63]:
for i in df['n_cluster'].unique():
    
    df_model = df[df['n_cluster'] == i]
    df_model = df_model.drop(['n_cluster'], axis = 1).set_index('var_value').transpose()
    print(i)
    cv = np.median(df_model.mean() / df_model.std())
    print(cv)
    print("--")

gowers_20
1.2434951935126264
--
kmodes_20
1.0184870854615156
--
umap_kmeans_20
1.1661848587318702
--

In [14]:
df.head()

,n_cluster,var_value,0,1,2,3,4,5,6,7,...,10,11,12,13,14,15,16,17,18,19
0,gowers_20,ds_city_size__grande,0.025747,0.023681,0.988068,0.158983,0.023381,0.060406,0.991201,0.043890,...,0.152513,0.947187,0.068213,0.089763,0.082403,0.013658,0.971202,0.058584,0.123801,0.104348
1,gowers_20,ds_city_size__medio,0.040051,0.052207,0.011932,0.755319,0.131085,0.173531,0.008799,0.110723,...,0.761987,0.052813,0.124826,0.157270,0.180687,0.067862,0.028798,0.824249,0.131648,0.281423
2,gowers_20,ds_city_size__pequeno,0.934202,0.924112,0.000000,0.085697,0.845535,0.766063,0.000000,0.845387,...,0.085500,0.000000,0.806961,0.752967,0.736910,0.918481,0.000000,0.117168,0.744551,0.614229
3,gowers_20,ds_gender__FEMALE,1.000000,0.000000,1.000000,0.205674,1.000000,0.869303,0.000000,0.172070,...,0.825534,0.233639,0.897448,0.290801,0.000000,0.833547,0.828654,0.000000,1.000000,0.687747
4,gowers_20,ds_gender__MALE,0.000000,1.000000,0.000000,0.794326,0.000000,0.130697,1.000000,0.827930,...,0.174466,0.766361,0.102552,0.709199,1.000000,0.166453,0.171346,1.000000,0.000000,0.312253

In [15]:
for i in df['n_cluster'].unique():
    
    df_model = df[df['n_cluster'] == i]
    corr = df_model.corr(method='pearson')
    x = 0
    
    for column in corr.columns:
        
        corr_temp = corr[corr[column] != 1]
        corr_temp = corr_temp[corr_temp[column] > 0.65]
    x = x + len(corr_temp[column])
    
    df_model = df_model.drop(['n_cluster'], axis = 1).set_index('var_value').transpose()
    
    for j in df_model.columns:
        df_model[i] = (df_model[j] - df_model[j].mean()) / np.std(df_model[j])
    df_model = df_model.reset_index()
    df_temp = df_model.set_index('index').T
    print(i)
    kw = stats.kruskal(df_temp['0'], df_temp['2'], df_temp['3'], df_temp['4'], df_temp['5'], df_temp['6'], df_temp['7'], df_temp['8'], df_temp['9'], df_temp['10'], df_temp['11'], df_temp['12'], df_temp['10'], df_temp['11'], df_temp['12'],df_temp['13'],df_temp['14'],df_temp['15'],df_temp['16'],df_temp['17'],df_temp['18'],df_temp['19'])
    print(kw)
    if kw.pvalue <= 0.05:
        print("Hipótese de igualdade rejeitada. No mínimo uma média é diferente")
    else:
        print("Hipótese de igualdade não rejeitada. Todas as médias são similares")
    print("---")
    fr = stats.friedmanchisquare(df_temp['0'], df_temp['2'], df_temp['3'], df_temp['4'], df_temp['5'], df_temp['6'], df_temp['7'], df_temp['8'], df_temp['9'], df_temp['10'], df_temp['11'], df_temp['12'], df_temp['10'], df_temp['11'], df_temp['12'],df_temp['13'],df_temp['14'],df_temp['15'],df_temp['16'],df_temp['17'],df_temp['18'],df_temp['19'])
    print(fr)

    if fr.pvalue <= 0.05:
        print("Nem todas as medianas são diferentes")
    else:
        print("Não há evidência para afirmar que as medianas são iguais")

    print("---")

    print("O número de características com correlação alta entre clusters é:")
    print(x)
    print("______________________")

gowers_20
KruskalResult(statistic=28.618845849346343, pvalue=0.12345705771001454)
Hipótese de igualdade não rejeitada. Todas as médias são similares
---
FriedmanchisquareResult(statistic=84.9557318903179, pvalue=1.1795857413645133e-09)
Nem todas as medianas são diferentes
---
O número de características com correlação alta entre clusters é:
4
______________________
kmodes_20
KruskalResult(statistic=17.343121707325597, pvalue=0.6901085849239388)
Hipótese de igualdade não rejeitada. Todas as médias são similares
---
FriedmanchisquareResult(statistic=69.44702112597331, pvalue=4.3085471332365994e-07)
Nem todas as medianas são diferentes
---
O número de características com correlação alta entre clusters é:
2
______________________
umap_kmeans_20
KruskalResult(statistic=99.19048687378199, pvalue=4.011755754724437e-12)
Hipótese de igualdade rejeitada. No mínimo uma média é diferente
---
FriedmanchisquareResult(statistic=173.16514652230086, pvalue=6.290990342088696e-26)
Nem todas as medianas são diferentes
---
O número de características com correlação alta entre clusters é:
11
______________________