In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
import io
import re
import string 
import unidecode
from numpy.core.defchararray import find
from numpy.core.defchararray import replace
import fuzzy_pandas as fz
from pyjarowinkler.distance import get_jaro_distance

In [2]:
engine = create_engine('')

### A query abaixo busca informações da base original de autorizações e traz a cidade com maior número de transações

In [3]:
# dataset_filter = pd.read_sql("""
#                        SELECT *
#                         , rank() over (partition by 1 order by total_trans_estabelecimento desc) as rank_autorizacoes_total
#                         , nvl(total_valor_estabelecimento / total_trans_estabelecimento, 0) as ticket_medio_estab
#                         FROM 
#                         (
#                             SELECT
#                             *,
#                             sum(autorizacoes) over (partition by nm_estabelecimento) as total_trans_estabelecimento,
#                             sum(vl_transacao) over (partition by nm_estabelecimento) as total_valor_estabelecimento,
#                             rank() over (partition by nm_estabelecimento order by autorizacoes desc) as rank_autorizacoes_estab
#                             FROM
#                             (
#                             SELECT
#                                     auf_nm_unidade_credenciada as nm_estabelecimento,
#                                     mcc.gmc_ds_grupo as grupo_mcc,
#                                     upper(cli.cli_ds_cidade_corresp) as cidade_cliente,
#                                     upper(cli.cli_ds_uf_corresp) as estado_cliente,
#                                     sum(aut.auf_vl_real) as vl_transacao,
#                                     count(distinct aut.aut_cd_autorizacao) as autorizacoes
#                                 FROM
#                                     replication.autorizacao aut
#                                 INNER JOIN
#                                     replication.mcc mcc
#                                     ON mcc.mcc_cd_mcc = aut.auf_cd_mcc 
#                                 LEFT JOIN replication.conta_cartao cc
#                                     ON cc.coc_cd_conta_cartao = aut.pla_cd_conta_cartao
#                                 LEFT JOIN replication.cliente cli
#                                     ON cc.coc_cd_cliente = cli.cli_cd_cliente 
#                                 WHERE
#                                     aut_fl_saque = 'N'
#                                     AND aut_fl_limite_utilizado = 'C'
#                                     AND aut_cd_unidade_credenciada <> 60024
#                                     AND (current_timestamp - aut_dt_autorizacao) <= 30
#                                 GROUP BY 
#                                     auf_nm_unidade_credenciada, mcc.gmc_ds_grupo, cli.cli_ds_cidade_corresp, cli.cli_ds_uf_corresp
#                               )
#                           )
#                         WHERE rank_autorizacoes_estab = 1
                                                                          
#                          """, engine)

In [ ]:
#campos necessários: nm_estabelecimento, cidade_cliente
#cidade cliente pode ser a cidade mais frequente de compra desse estabelecimento (maiúscula)
#serve para realizar a retirada do nome da cidade do final da descrição do estabelecimento

dataset_filter = pd.read_sql("""
  
                                                                          
                         """, engine)

## Frequencia dos estabelecimentos sem tratamento

In [37]:
dataset_filter.head(5)

,nm_estabelecimento,grupo_mcc,cidade_cliente,estado_cliente,vl_transacao,autorizacoes,total_trans_estabelecimento,total_valor_estabelecimento,rank_autorizacoes_estab,rank_autorizacoes_total,...,index_x,estab_clean_3,indice_sim_2_x,aux_x,index_y,estab_clean_4,indice_sim_2_y,aux_y,meio_pagamento,estab_clean_5
0,UBERBR UBER * PENDING SAO PAULO BRA,TRANSPORTE,SAO PAULO,SP,724871.34,49686,1079299,14370181.89,1,1,...,NaN,NaN,NaN,NaN,NaN,UBER,NaN,NaN,None,UBER
1,NETFLIX.COM SAO PAULO BRA,COMPRAS,SAO PAULO,SP,544351.54,18051,720733,24832287.13,1,2,...,NaN,NaN,NaN,NaN,NaN,NETFLIX COM,NaN,NaN,None,NETFLIX COM
2,GOOGLE TEMPORARY HOLD SAO PAULO BRA,SERVIÇOS,SAO PAULO,SP,0.00,10611,682309,0.00,1,3,...,NaN,NaN,NaN,NaN,NaN,GOOGLE TEMPORARY HOLD,NaN,NaN,None,GOOGLE TEMPORARY HOLD
3,UBERBR UBER TRIP HELP. SAO PAULO BRA,TRANSPORTE,SAO PAULO,SP,400842.85,29005,572933,6977484.56,1,4,...,NaN,NaN,NaN,NaN,NaN,UBER,NaN,NaN,None,UBER
4,IFOOD *IFOOD OSASCO BRA,ALIMENTAÇÃO,SAO PAULO,SP,1251277.30,30183,557572,18303672.97,1,5,...,NaN,NaN,NaN,NaN,NaN,IFOOD,NaN,NaN,None,IFOOD

## Parametros

In [124]:
# nome_dataset = 'dataset_filter'
# nome_estabelec = 'nm_estabelecimento'
# cidade_cliente = 'cidade_cliente'

## Funções de Preprocessamento

In [5]:
def text_preproc(x):
    x = x.strip()
    x = x.upper()
    x = unidecode.unidecode(x)
    x = re.sub(r'[^\w\s]', ' ', x)
    x = re.sub(r'\t', ' ', x)
    x = x.replace('     ',' ')
    x = x.replace('   ',' ')
    x = x.replace('  ',' ')
    x = x.strip()
    return x

In [6]:
strings_locais = ['SAO PAULO BRA','SAO PAULO  BRA', 'OSASCO  BRA', 'OSASCO BRA', 'JUNDIAI BRA', 'RIO DE JANEIR BRA', 
                  'GIBRALTAR GIB', 'CURITIBA BRA', 'PATINGA BRA', 'BARUERI BRA', 'VITORIA BRA','FORTALEZA BRA','SALVADOR BRA',
                  'PRAIA GRANDE BRA', 'GOVERNADOR VA BRA', 'GUARULHOS BRA','BELO HORIZONT BRA', ' BRA']

def retira_locais(x):
    for i in strings_locais:
        x = x.replace(i,'')
        x = x.strip()
    return x

In [7]:
def trata_estabelecimentos(x):
    x = re.sub(r'(^(?=.*\bLOJAS)(?=.*AMERICANAS\b).*$)', 'LOJAS AMERICANAS', x)
    #POSSUI UBER E EATS
    x = re.sub(r'(?=.*\bUBER\b)(?=.*\bEATS\b).*$', 'UBER EATS', x)
    #POSSUI UBER E NÃO EATS
    x = re.sub(r'(?=.*\bUBER\b)(?!.*EATS\b).*$', 'UBER', x)
    x = re.sub(r'^(?=.*\bGOOGLE)(?=.*GARENA\b).*$', 'GOOGLE GARENA', x)
    x = re.sub(r'(?=.*\bGOOGLE TEMPORARY HOLD\b).*$', 'GOOGLE TEMPORARY HOLD', x)
    x = re.sub(r'(?=.*\bIFD BR).*$', 'IFOOD', x)
    x = re.sub(r'(?=.*\bIFOOD).*$', 'IFOOD', x)
    x = re.sub(r'(?=.*\bOBOTICARIO).*$', 'OBOTICARIO', x)
    x = re.sub(r'(?=.*\bHNA BOTICARIO).*$', 'OBOTICARIO', x)
    x = x.replace('DL GOOGLE','GOOGLE')
    x = x.replace('MERCPAG GOOGLEPLAY','GOOGLE PLAY')
    x = x.replace('GOOGLEPLAY','GOOGLE PLAY')
    x = x.replace('C E A', 'C A MODAS')

    #PARA ESSES CASOS EU NÃO QUERO BUSCAR TODA A STRING
    x = x.replace('MERCADOPAGO MERC ', 'MERCADOPAGO ')
    x = x.replace('MERCPAG MERCADOLIVRE', 'MERCADOLIVRE')
    x = x.replace('MERCPAGO', 'MERCADOPAGO')
    x = x.replace('MERCPAG', 'MERCADOPAGO')     
    x = x.replace('EBANX','')
       
    x = x.strip()
    return x

In [8]:
#Não quero considerar os resultados abaixo no tratamento de similaridade de strings
retira_inteiro = ['ARMAZEN', 'ARMAZEM', 'SUPERMERCADO','HIPERMERCADO', 'POSTO', 'COMERCIAL', 'DROGARIA', 'DROGARIAS' 'DROGARIA DO', 'DROGARIA DA', 'FARMACIA', 'FARMACIAS', 'FARMACIA DO', 'FARMACIA DA', 'LOJA', 'LOJAS', 
'MERCADO','MERCADOS', 'PADARIA','PADARIAS', 'CONFEITARIA','CONFEITARIAS', 'SHOPPING', 'ATACADO','ACOUGUE', 'AÇOUGUE' 'CENTRAL', 'CERVEJARIA','CERVEJARIAS', 'CLINICA','CLINICAS', 'DISTRIBUIDORA', 'MERCADINHO', 'MERCANTIL', 'PADARIA E CONFEITARIA',
'PANIFICADORA E CONFEIT', 'PANIFICADORA E CONFEITARIA', 'AMERICAN', 'PANIFICADORA', 'PANIFICADORAS']

#se tiver parte do nome abaixo não vai considerar o tratamento por similaridade - não iremos aplicar tratamento para postos
retira_parte = ['POSTO', 'GOOGLE', 'MERCADO PAGO', 'MERCADOPAGO', 'OBOTICRIO']

In [9]:
#limpezas iniciais (pre processamento)
dataset_filter['estab_clean'] = dataset_filter['nm_estabelecimento'].apply(text_preproc)
dataset_filter['estab_clean'] = dataset_filter['estab_clean'].apply(retira_locais)
dataset_filter['estab_clean'] = dataset_filter['estab_clean'].apply(trata_estabelecimentos)
dataset_filter['estab_clean'] = dataset_filter['estab_clean'].apply(text_preproc)

In [10]:
#Retirando a cidade mais frequente entre os clientes - cidade_cliente é parametro
City = dataset_filter['cidade_cliente'].values.astype(str)
Estab = dataset_filter['estab_clean'].values.astype(str)
dataset_filter = dataset_filter.assign(pos = find(Estab, City, start=0, end=None))
dataset_filter = dataset_filter.assign(estab_clean_2 = replace(Estab, City, ''))
dataset_filter = dataset_filter.assign(pos_espaco = find(Estab, ' ', start=0, end=None))
dataset_filter['tam_caract_cidade'] = dataset_filter['cidade_cliente'].str.len()

#regras para considerar a limpeza: a - se não encontrou a cidade a coluna vai permanecer como estava; b - só vai retirar cidades com mais de 3 letras, que apareçam após o primeiro espaço e não no início
dataset_filter['estab_clean_3'] = np.where(dataset_filter['pos'] == -1, dataset_filter['estab_clean_2'],
                                  np.where((dataset_filter['pos'] > 3) & (dataset_filter['pos_espaco'] != -1) 
                                  & (dataset_filter['pos'] > dataset_filter['pos_espaco']) 
                                  & (dataset_filter['tam_caract_cidade'] > 3), dataset_filter['estab_clean_2'], dataset_filter['estab_clean']))
#retira tokens consecutivos
dataset_filter['estab_clean_3'] = dataset_filter['estab_clean_3'].str.replace(r'\b(\w+)(\s+\1)+\b', r'\1')
#replica arrays para crossjoin por similaridade
dataset_test1 = dataset_filter[['estab_clean_3']]
dataset_test2 = dataset_filter[['estab_clean_3']].rename(columns = {'estab_clean_3':'estab_clean_4'})

#fuzzy join e índice de similaridade
matches_1 = fz.fuzzy_merge(dataset_test1, dataset_test2, left_on=['estab_clean_3'], right_on=['estab_clean_4'], ignore_case=True, method = 'jaro', threshold = 0.85).drop_duplicates()
matches_1['indice_sim'] = [get_jaro_distance(x, y) for x, y in zip(matches_1['estab_clean_3'], matches_1['estab_clean_4'])]

#critérios para considerar o string como similar
matches_1['tam_1'] = matches_1['estab_clean_3'].str.len()
matches_1['tam_2'] = matches_1['estab_clean_4'].str.len()
texto1 = matches_1['estab_clean_3'].values.astype(str)
texto2 = matches_1['estab_clean_4'].values.astype(str)
matches_1 = matches_1.assign(pos2 = find(texto1, texto2, start=0, end=None))

#vou considerar o match com descrição mais reduzida (menor tamanho). Se a similaridade for abaixo de 98% só vou considerar se uma parte do nome tratado estiver contida na descrição limpa
matches_1 = matches_1.query('tam_2 < tam_1').query('(indice_sim < 0.98 and pos2 != -1) or indice_sim >= 0.98')
matches_1['ind_sim_inv'] = 1 - matches_1['indice_sim']

#retirando a duplicidade do de para e priorizando pelo nome mais reduzido e com similaridade maior
matches_2 = matches_1.sort_values(by=['estab_clean_3', 'tam_2', 'ind_sim_inv']).groupby('estab_clean_3').agg({'estab_clean_4':['first'], 'indice_sim':['first']})
matches_2.columns = matches_2.columns.droplevel(0)
matches_2.reset_index(level=0, inplace=True)
matches_2.columns = ['estab_clean_3','estab_clean_4', 'indice_sim_2']
matches_2['estab_clean_4'] = matches_2['estab_clean_4'].apply(text_preproc)
matches_2 = matches_2[~matches_2['estab_clean_4'].isin(retira_inteiro)]
matches_2['aux'] = matches_2['estab_clean_4'].apply(lambda x: 1 if any(i in x for i in retira_parte) else 0)
matches_2 = matches_2[matches_2['aux'] == 0]

#duplo merge pra acertar pela similaridade de string em duas etapas
dataset_filter = dataset_filter.merge(matches_2.reset_index(), how = 'left', on = 'estab_clean_3')
dataset_filter['estab_clean_2'] = dataset_filter['estab_clean_3'] 
dataset_filter = dataset_filter.drop(columns = 'estab_clean_3').rename(columns = {'estab_clean_4':'estab_clean_3'})
dataset_filter = dataset_filter.merge(matches_2.reset_index(), how = 'left', on = 'estab_clean_3')
dataset_filter['estab_clean_4'] = dataset_filter['estab_clean_3'].fillna(dataset_filter['estab_clean_2'])

In [21]:
#Meio de pagamento
meio_pagamento = ['MERCADOPAGO', 'ALIPAY', 'PAYPAL', 'PAG ', 'AME DIGITAL', 'PIC PAY', 'APPLE COM BI', 'RECARGAP', 'RECARGAPAY', 'RECARGA PAY', '99INAPPPAYMENT']

def considera_meio_pgto(x):
    for i in meio_pagamento:
        if (x.find(i) != -1):
            return i
   
dataset_filter['meio_pagamento'] = dataset_filter['estab_clean_4'].apply(considera_meio_pgto)

In [24]:
Estab = dataset_filter['estab_clean_4'].values.astype(str)
meio_pgto = dataset_filter['meio_pagamento'].values.astype(str)
dataset_filter = dataset_filter.assign(estab_clean_5 = replace(Estab, meio_pgto, ''))

In [31]:
tabela_final = dataset_filter[['nm_estabelecimento', 'estab_clean_4']].groupby('nm_estabelecimento').agg({'estab_clean_4':['first']})
tabela_final.columns = tabela_final.columns.droplevel(0)
tabela_final.reset_index(level=0, inplace=True)
tabela_final.columns = ['nm_estabelecimento', 'estabelecimento_resumido']

In [33]:
tabela_final.tail(10)

,nm_estabelecimento,estabelecimento_resumido,meio_pagamento,estab_sem_meio_pgto
9829,ZP *ROSAAZUL KIDS RIO DE JANEIR BRA,ZP ROSAAZUL KIDS,None,ZP ROSAAZUL KIDS
9830,ZP *SOMOS CORUJA RIO DE JANEIR BRA,ZP SOMOS CORUJA,None,ZP SOMOS CORUJA
9831,ZP *TIO PATINHAS RIO DE JANEIR BRA,ZP TIO PATINHAS,None,ZP TIO PATINHAS
9832,ZP *IFOODPOS RIO DE JANEIR BRA,IFOOD,None,IFOOD
9833,ZP *SUPERMERCADO RIO DE JANEIR BRA,ZP SUPERMERCADO,None,ZP SUPERMERCADO
9834,ZP*IFOOD,IFOOD,None,IFOOD
9835,ZP*IFOOD RIO DE JANEIR BRA,IFOOD,None,IFOOD
9836,ZUL DIGITAL OSASCO BRA,ZUL DIGITAL,None,ZUL DIGITAL
9837,ZUL VALIDACAO SP BRA,ZUL VALIDACAO SP,None,ZUL VALIDACAO SP
9838,ZUPPER SAO PAULO BRA,ZUPPER,None,ZUPPER